#app-container {
  height: 100vh;
  width: 100%;
  background-image: url("../../public/charizard-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pokemon-container-container {
  display: flex;
  padding: 48px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  position: relative;
}
